<div style="background-color:#f3e5f5; color:black; padding:20px; border-radius:15px; border: 1px solid #ccc; box-shadow: 0 2px 4px rgba(0,0,0,0.1);text-align:center">
  <h2 style="margin-top: 0;text-align:center">Exercises 02</h2>
  <p style="font-size:16px;text-align:center">List, Tuple, Dictionary, Set, String, Function, iteration, recursion, Exception
Handling, and Files</p><br>
    3350
</div>

<div style="background-color:#f3e5f5; color:black; padding:20px; border-radius:15px; border: 1px solid #ccc; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
  <h2 style="margin-top: 0;">Exercises 01</h2>
    <p style="font-size:16px;"><b>The following is a list of 10 students ages:</b></p><br>
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]<br><br>
1.Sort the list and find the min and max age. (50)<br>
2.Add the min age and the max age again to the list.(50)<br>
3.Find the median age (one middle item or two middle items divided by two).(100)<br>
4.Find the average age (sum of all items divided by their number ).(100)<br>
5.Find the range of the ages (max minus min).(50)<br>
6.Compare the value of (min - average) and (max - average), use abs() method.(100)<br>
</div>

In [1]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

#### 1.Sort the list and find the min and max age. (50)

In [2]:
ages.sort()
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [3]:
max_age = ages[-1]

# l = len(ages) - 1
# max_age = ages[l]

min_age = ages[0]

max(ages),min(ages)

(26, 19)

#### 2.Add the min age and the max age again to the list.(50)

In [4]:
ages.append(max_age)
ages.append(min_age)
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26, 19]

#### 3.Find the median age (one middle item or two middle items divided by two).(100)

In [5]:
ages.sort()
print(ages)

[19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]

In [6]:
l = len(ages)
l

12

In [7]:
if l % 2 == 0:
    l = l // 2
    median = (ages[l] + ages[l-1]) / 2
else:
    l = l // 2
    median = ages[l]
print(median)

24.0

In [8]:
ages

[19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]

In [9]:
mid = len(ages) // 2
mid

6

In [10]:
~mid

-7

In [11]:
res = (ages[mid] + ages[~mid]) / 2

print("Median of list is : " + str(res))

Median of list is : 24.0

#### 4.Find the average age (sum of all items divided by their number ).(100)

In [12]:
avg = sum(ages) / len(ages)
print(f"Average of ages: {avg}")

Average of ages: 22.75

#### 5.Find the range of the ages (max minus min).(50)

In [13]:
range_ages = max_age - min_age
print(range_ages)

7

#### 6.Compare the value of (min - average) and (max - average), use abs() method.(100)

In [14]:
min_avg = abs(min_age - avg)
max_avg = max_age - avg

if min_avg > max_avg:
    print(f"min_avg > max_avg ({min_avg} > {max_avg})")
elif min_avg < max_avg:
    print(f"min_avg < max_avg ({min_avg} < {max_avg})")
else:
    print("Both of them are equal")

min_avg > max_avg (3.75 > 3.25)

<div style="background-color:#f3e5f5; color:black; padding:20px; border-radius:15px; border: 1px solid #ccc; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
  <h2 style="margin-top: 0;">Exercises 02</h2>
    <p style="font-size:16px;"><b>Tuple</b></p><br>
1.Create an empty tuple (50)<br>
2.Create a tuple containing names of your sisters and your brothers, separately (imaginary siblings are fine) (100)<br>
3.Join brothers and sisters tuples and assign it to siblings (100)<br>
4.How many siblings do you have? (50)<br>
5.Modify the siblings tuple and add the name of your father and mother and assign it to family_members (100)<br>
</div>

#### 1.Create an empty tuple (50)

In [15]:
t = tuple()

#### 2.Create a tuple containing names of your sisters and your brothers, separately (imaginary siblings are fine) (100)

In [16]:
brothers = ("Ali", "Saeed" )
sisters = ("Sanaz",)

#### 3.Join brothers and sisters tuples and assign it to siblings (100)

In [17]:
siblings = brothers + sisters

#### 4.How many siblings do you have? (50)

In [18]:
num_sib = len(siblings)
num_br = len(brothers)
num_sis = len(sisters)

print("I have {} siblings.{} brothers and {} sisters".format(num_sib, num_br, num_sis))

I have 3 siblings.2 brothers and 1 sisters

#### 5.Modify the siblings tuple and add the name of your father and mother and assign it to family_members (100)

In [19]:
## Modify: Convert the tuple into a list to be able to change it
siblings = list(siblings)

In [20]:
## Add new values
siblings.append("Mohammad")
siblings.append("Zamzam")

In [21]:
## Modify
family_members = tuple(siblings)
print(family_members)

('Ali', 'Saeed', 'Sanaz', 'Mohammad', 'Zamzam')

<div style="background-color:#f3e5f5; color:black; padding:20px; border-radius:15px; border: 1px solid #ccc; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
  <h2 style="margin-top: 0;">Exercises 03</h2>
    <p style="font-size:16px;"><b>Dictionary</b></p><br>
1.Create a student dictionary and add first_name, last_name, gender, age, skills, country, city and address as keys for the dictionary (100)<br>
2.Get the length of the student dictionary (50)<br>
3.Get the value of skills and check the data type, it should be a list (50)<br>
4.Modify the skills values by adding one or two skills (100)<br>
5.Get the dictionary keys as a list (100)<br>
6.Get the dictionary values as a list (100)<br>
7.Change the dictionary to a list of tuples using items() method (50)<br>
8.Delete one of the items in the dictionary(50)<br>
9.Delete one of the dictionaries(50)<br>
</div>

#### 1.Create a student dictionary and add first_name, last_name, gender, age, skills, country, city and address as keys for the dictionary (100)

In [22]:
students = {
  "first_name": "Fatemeh",
  "last_name": "Korani",
  "gender": "female",
  "age": 20,
  "marital status": "Single",
  "skills": ["R", "Python"],
  "country": "Iran",
  "city": "Tehran",
  "address": "Zaferaniyeh"
}

#### 2.Get the length of the student dictionary (50)

In [23]:
print(f"length of dictinary: {len(students)}\n")

length of dictinary: 9

#### 3.Get the value of skills and check the data type, it should be a list (50)

In [24]:
skills = students["skills"]
print(f"skills of student: {skills}")
print(type(skills), "\n")

skills of student: ['R', 'Python']
<class 'list'>

#### 4.Modify the skills values by adding one or two skills (100)

In [25]:
students["skills"].append("ML")
students["skills"].append("DL")
skills = students["skills"]
print(f"updated skills of student: {skills}\n")

updated skills of student: ['R', 'Python', 'ML', 'DL']

#### 5.Get the dictionary keys as a list (100)

In [26]:
keys_list = list(students.keys())
print(keys_list)

['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address']

#### 6.Get the dictionary values as a list (100)

In [27]:
values_list = list(students.values())
print(values_list)

['Fatemeh', 'Korani', 'female', 20, 'Single', ['R', 'Python', 'ML', 'DL'], 'Iran', 'Tehran', 'Zaferaniyeh']

#### 7.Change the dictionary to a list of tuples using items() method (50)

In [28]:
items_list = list(students.items())
print(items_list)

[('first_name', 'Fatemeh'), ('last_name', 'Korani'), ('gender', 'female'), ('age', 20), ('marital status', 'Single'), ('skills', ['R', 'Python', 'ML', 'DL']), ('country', 'Iran'), ('city', 'Tehran'), ('address', 'Zaferaniyeh')]

#### 8.Delete one of the items in the dictionary(50)

In [29]:
students.pop("age")
print(students)

{'first_name': 'Fatemeh', 'last_name': 'Korani', 'gender': 'female', 'marital status': 'Single', 'skills': ['R', 'Python', 'ML', 'DL'], 'country': 'Iran', 'city': 'Tehran', 'address': 'Zaferaniyeh'}

#### 9.Delete one of the dictionaries(50)

In [30]:
del students

<div style="background-color:#f3e5f5; color:black; padding:20px; border-radius:15px; border: 1px solid #ccc; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
  <h2 style="margin-top: 0;">Exercises 04</h2>
    <p style="font-size:16px;"><b>Set</b></p><br>
 
1.Find the length of the set it_companies (50)<br>
2.Add 'Twitter' to it_companies (50)<br>
3.Insert multiple IT companies at once to the set it_companies (100)<br>
4.Remove one of the companies from the set it_companies(50)<br>
5.What is the difference between remove and discard (100)
<br><br>
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'} 
</div>

In [31]:
it_companies = {'Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon'}

#### 1.Find the length of the set it_companies (50)

In [32]:
len(it_companies)

7

#### 2.Add 'Twitter' to it_companies (50)

In [33]:
it_companies.add('Twitter')

#### 3.Insert multiple IT companies at once to the set it_companies (100)

In [34]:
it_companies.update(["Oracle", "DXC"])
it_companies

{'Amazon',
 'Apple',
 'DXC',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

#### 4.Remove one of the companies from the set it_companies(50)

In [35]:
it_companies.remove('Facebook')

#### 5.What is the difference between remove and discard (100)

In [36]:
#If the item to remove does not exist, discard() will NOT raise an error but remove will raise an error.
it_companies.remove('Google')

In [37]:
it_companies

{'Amazon', 'Apple', 'DXC', 'IBM', 'Microsoft', 'Oracle', 'Twitter'}

In [38]:
it_companies.discard("Apple")

In [39]:
it_companies

{'Amazon', 'DXC', 'IBM', 'Microsoft', 'Oracle', 'Twitter'}

<div style="background-color:#f3e5f5; color:black; padding:20px; border-radius:15px; border: 1px solid #ccc; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
  <h2 style="margin-top: 0;">Exercises 05</h2>
    <p style="font-size:16px;"><b>Set</b></p><br> 
(I am a teacher and I love to inspire and teach people.) How many unique words have been used in the sentence?<br>
Use the split methods and set to get the unique words.
<br><br>
</div>

In [40]:
text = "I am a teacher and I love to inspire and teach people"
words = text.split(" ")
words = set(words)
print(len(words))

10

<div style="background-color:#f3e5f5; color:black; padding:20px; border-radius:15px; border: 1px solid #ccc; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
  <h2 style="margin-top: 0;">Exercises 06</h2>
    <p style="font-size:16px;"><b>Write a function to Count the number of characters (characters frequency) in a string and print the result as a dictionary</b></p><br>
<br><br>
Example: input: 'Filoger', output: {'f': 1, 'i': 1, 'l': 1, 'o': 1, 'g': 1, 'e': 1, 'r': 1}
</div>

In [41]:
string = "Filoger"
string = string.lower()
char_freq = {}

for char in string:
    if char in char_freq:
        char_freq[char] += 1
    else:
        char_freq[char] = 1


char_freq

{'f': 1, 'i': 1, 'l': 1, 'o': 1, 'g': 1, 'e': 1, 'r': 1}

<div style="background-color:#f3e5f5; color:black; padding:20px; border-radius:15px; border: 1px solid #ccc; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
  <h2 style="margin-top: 0;">Exercises 07</h2>
    <p style="font-size:16px;"><b>Write a Python function to print the odd numbers from a given list.</b></p><br>
<br><br>
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9], Expected Result : [1, 3, 5, 7, 9]
</div>

In [42]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
def print_odd_numbers(numbers_list):
    """ Print odd numbers from a given list. """
    odd_numbers = [num for num in numbers_list if num % 2 != 0]
    print("Odd numbers:", odd_numbers)


print_odd_numbers(list1)

Odd numbers: [1, 3, 5, 7, 9]

<div style="background-color:#f3e5f5; color:black; padding:20px; border-radius:15px; border: 1px solid #ccc; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
  <h2 style="margin-top: 0;">Exercises 08</h2>
    <p style="font-size:16px;"><b>Write a Python function to sort a given list of dictionaries(employees) using Lambda. (Sort by age, then for same ages, sort by name)</b></p><br>

employees = [{"name": "Sanaz", "age": 14}, {"name": "AmirHossein","age": 18}, {"name": "Azam","age":
14}, {"name": "Zahra","age": 16}, {"name": "Shayan","age": 18}, {"name": "Zahra","age": 17}]
<br><br>
output: [{"name": "Azam","age": 14}, {"name": "Sanaz","age": 14}, {"name": "Zahra","age": 16},{"name": "Zahra","age": 17}, {"name": "AmirHossein","age": 18}, {"name": "Shayan","age": 18}]
</div>

In [44]:
employees = [{"name": "Sanaz", "age": 14}, 
             {"name": "AmirHossein", "age": 18}, 
             {"name": "Azam", "age": 14}, 
             {"name": "Zahra", "age": 16}, 
             {"name": "Shayan", "age": 18}, 
             {"name": "Zahra", "age": 17}]

In [45]:
def sort_list():
    return sorted(employees, key = lambda i: (i["age"], i["name"]))
print(sort_list())

[{'name': 'Azam', 'age': 14}, {'name': 'Sanaz', 'age': 14}, {'name': 'Zahra', 'age': 16}, {'name': 'Zahra', 'age': 17}, {'name': 'AmirHossein', 'age': 18}, {'name': 'Shayan', 'age': 18}]

<div style="background-color:#f3e5f5; color:black; padding:20px; border-radius:15px; border: 1px solid #ccc; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
  <h2 style="margin-top: 0;">Exercises 09</h2>
    <p style="font-size:16px;"><b>Write a Python function to calculate first n numbers of Fibonacci sequence. (n is function input) </b></p><br>
<b>Points:</b><br> 
Use recursion to solve the question!

input: 7, output: 0 1 1 2 3 5 8
</div>

In [46]:
def fibonacci(n):
    """Calculate the first n numbers of the Fibonacci sequence using recursion."""
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    elif n == 2:
        return [0, 1]
    else:
        fib_seq = fibonacci(n - 1)
        fib_seq.append(fib_seq[-1] + fib_seq[-2])
        return fib_seq

# Example usage
n = 7
fibonacci_sequence = fibonacci(n)
fibonacci_sequence

[0, 1, 1, 2, 3, 5, 8]

<div style="background-color:#f3e5f5; color:black; padding:20px; border-radius:15px; border: 1px solid #ccc; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
  <h2 style="margin-top: 0;">Exercises 10</h2>
    <p style="font-size:16px;"><b>print the type of error and handle that. (Use specific and General Exception)</b></p><br>
dict = {'Python': 2, 'DIP': 7, 'DL': 8}
print (dict['CV'])
Type here to search 
</div>

In [47]:
# Given dictionary
dict = {'Python': 2, 'DIP': 7, 'DL': 8}

In [48]:
try:
    # Attempt to print a value with the key 'CV'
    print(dict['CV'])
except KeyError as e:
    print(f"KeyError: {e}")
except Exception as e:
    print(f"General Exception: {type(e).__name__}: {e}")

KeyError: 'CV'

<div style="background-color:#f3e5f5; color:black; padding:20px; border-radius:15px; border: 1px solid #ccc; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
  <h2 style="margin-top: 0;">Exercises 11</h2>
    <p style="font-size:16px;"><b>print the type of error and handle that. (Use specific and General Exception)</b></p><br><br>
code = '45145GT' int(code)
</div>

In [49]:
code = '45145GT'

In [50]:
try:
    int_code = int(code)
except ValueError as e:
    print("ValueError:", e)
except Exception as e:
    print("General Exception:", e)

ValueError: invalid literal for int() with base 10: '45145GT'

<div style="background-color:#f3e5f5; color:black; padding:20px; border-radius:15px; border: 1px solid #ccc; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
  <h2 style="margin-top: 0;">Exercises 12</h2>
    <p style="font-size:16px;"><b>Create a txt file (name: Ex_01_Files.txt) and save the following list in the file! (save each element in the new line!)</b></p><br>
<b>Points:</b><br>
Before reading file, check the file existence!<br>
Close the file, finally!
    
<br><br> [1, 7, 'test', 'apple', 'banana', 'cherry', 785, 19, 'Python', 78.0, True, 7854.15]
</div>

In [51]:
import os

file_path = 'Ex_01_Files.txt'

# Check if the file exists
file_exists = os.path.exists(file_path)
print(file_exists)

if not file_exists:
    # List to be saved in the file
    data_list = [1, 7, 'test', 'apple', 'banana', 'cherry', 785, 19, 'Python', 78.0, True, 7854.15]

    # Writing to the file
    with open(file_path, 'w') as file:
        for item in data_list:
            file.write(str(item) + '\n')

    file_closed = file.closed
    file_created = True
else:
    file_closed = True
    file_created = False

file_closed, file_created, file_path

True

(True, False, 'Ex_01_Files.txt')

<div style="background-color:#f3e5f5; color:black; padding:20px; border-radius:15px; border: 1px solid #ccc; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
  <h2 style="margin-top: 0;">Exercises 13</h2>
    <p style="font-size:16px;"><b>Read the Ex_01_Files.txt and save and print the numbers and strings in to separated list!</b></p><br>
<b>Points:</b><br>
Before reading file, check the file existence!<br>
Close the file, finally!<br>
Handle FileNotFoundError error!
</div>

In [52]:
file_path = 'Ex_01_Files.txt'

# Check if the file exists
if os.path.exists(file_path):
    try:
        numbers = []
        strings = []

        with open(file_path, 'r') as file:
            for line in file:
                line = line.strip()
                if line.isdigit():
                    numbers.append(int(line))
                elif line.replace('.', '', 1).isdigit() and line.count('.') < 2:
                    numbers.append(float(line))
                else:
                    strings.append(line)

        file_closed = file.closed
    except FileNotFoundError:
        numbers, strings = None, None
        file_closed = True
        print("FileNotFoundError: The file was not found.")
else:
    numbers, strings = None, None
    file_closed = True
    print("The file does not exist.")

numbers, strings, file_closed

([1, 7, 785, 19, 78.0, 7854.15],
 ['test', 'apple', 'banana', 'cherry', 'Python', 'True'],
 True)

## Finished!